[Desktop Entry]
Version=1.0
Name=Chronometer
Comment=Chronometer application for timing events
Exec=Chronometer
Icon=chronometer-stopwatch-svgrepo-com
Terminal=false
Type=Application
Categories=Utility;Clock;
StartupWMClass=Chronometer
Keywords=timer;stopwatch;clock;
